/* Estilização das tags HTML */

body{    
    background-color: rgb(40, 40, 40);
    /* background-image: linear-gradient(to left bottom, #c46400, #9d4121, #6c2825, #39181c, #000000); */
    color: white;    
    min-width: 915px;
    max-width: 1360px;
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
    font-weight: bold;
}

header p{
    font-size: 20px;
}

form label{
    margin-left: 8%;
    margin-right: 5px;
    font-size: 15px;
}

form input{
    display: inline;
    width: 150px;
    height: 15px;
    text-align: center;
    color: white;
    background: none;
    border-top: none;   
    border-right: none;
    border-left: none;
    border-color: white;
    outline: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;
    background-color: rgb(40, 40, 40);
    color: white;
    height: 15px;
    outline: 0;
}


form textarea{
    border-radius: 8px;
    border-bottom: 2px;
    border-color: white;
    margin-top: 07px;
    margin-left: 8%;
    margin-right: 8%;
    outline: none;
    resize: none;
} /* no textArea foi utiliza jQuery para ajustar o tamanho automaticamente */

i{
    margin-left: 10px;
    margin-right: 10px;
}


/* Estilização para o Curriculo */
/* Iniciando pelos Fieldset */

fieldset{
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 10px;
    display: flexbox;
}

fieldset legend{
    font-weight: bold;
}

fieldset.exp{
    margin-bottom: 05px;
}

fieldset p{
    font-weight: bold;
    margin-left: 8%;
}


/* FIM FIELDSET */

/* Iniciando estilização pelas Class */

.infInicio{
    display: flex;
}

.infInicio label{
    margin-left: 8%;
    margin-right: 5px;      
}

.infInicio input{
    width: 40%;
    margin-right: 8%;
}

.infSexo {
    display: inline;
}

.infSexo input{
    width: 20px;
    margin-left: 8%;
}

.infSexo label{
    margin-left: 5px;
}

.infSexo p{
    font-weight: bold;
    /* text-align: center; */
    margin-left: 8%;
}

.infCivil {
    display: inline;
}

.infCivil input{
    position: center;
    width: 20px;
    margin-left: 8%;
}

.infCivil label{
    margin-left: 5px;
}

.infCivil p{
    font-weight: bold;
    margin-left: 8%;
}

.end{
    display: flex;
}

.end input{
    width: 60%;
    margin-right: 8%;
}

.endComp{
    display: flex;
}

.endComp input{
    width: 60%;
    margin-right: 8%;
}

/* Estilização dos campos incluiveis Formação e Experiencia */

label#tpCurso {
    margin-left: 5px;
}

input#tpCurso {
    width: 20px;
    margin-left: 8%;
}

label#status {
    margin-left: 5px;
}

input#status {
    width: 20px;
    margin-left: 8%;
}

input#dtIni {
    width: 100px;
}

input#dtFim {
    width: 100px;
}

label#ateMomento {
    margin: 5px;    
}

input#ateMomento {
    margin-left: 8%;
    width: 15px;
}


/* Estilização dos botões */

.add{
      padding: 0.6em 2em;
      border: none;
      outline: none;
      color: rgb(255, 255, 255);
      background: #111;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
}
    
.add:before {
    content: "";
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}

.add:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}  


.addE{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.addE:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.addE:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.fim{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.fim:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
  
@keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
.fim:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}  










